.contEmployeesCard {
  padding-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cElementsEmp {
  display: flex;
  justify-content: center;
  align-items: center;
}
