.productCard {
  background-color: #eadac0;
  border: none;
  margin-top: 15px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productCardImg {
  margin-top: 10px;
  border-radius: 10px;
  width: 260px;
}

.productOverflow {
  position: relative;
}
.hover {
  filter: blur(1px);
}
.buttonAddToCar {
  border: none;
  background-color: #740005;

  width: 110px;
  height: 38px;
  position: absolute;
  top: calc(50% - 19px);
  left: calc(50% - 55px);
  z-index: 100;
}
.buttonAddToCar:hover {
  background-color: #740005;
  transform: translateY(-2px);
}
.buttonAddToCar:focus {
  background-color: #740005;
  outline: none;
}

.productCardtitle {
  text-transform: capitalize;
}

.productCardBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}

.productCardButton {
  border: none;
  background-color: #91491a;
}
.productCardButton:hover {
  background-color: #740005;
}
.productCardButton:focus {
  border: none;
  background-color: #740005;
}
